<nav>
  <div class="nav nav-tabs container flex-wrap" id="nav-tab" role="tablist">
    <button class="nav-link active flex-fill" id="nav-facultad-tab" data-bs-toggle="tab" data-bs-target="#nav-facultad"
      type="button" role="tab" aria-controls="nav-home" aria-selected="true">REPORTE POR FACULTAD</button>
    <button class="nav-link inactive flex-fill" id="nav-area-tab" data-bs-toggle="tab" data-bs-target="#nav-area" type="button"
      role="tab" aria-controls="nav-profile" aria-selected="false">REPORTE POR ÁREA</button>
    <button class="nav-link inactive flex-fill" id="nav-carrera-tab" data-bs-toggle="tab" data-bs-target="#nav-carrera"
      type="button" role="tab" aria-controls="nav-profile" aria-selected="false">REPORTE POR CARRERA</button>
  </div>
</nav>


<div class="tab-content container mb-3" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-facultad" role="tabpanel" aria-labelledby="nav-facultad-tab"
    tabindex="0">
    <app-facultad></app-facultad>
  </div>
  <div class="tab-pane fade" id="nav-area" role="tabpanel" aria-labelledby="nav-area-tab" tabindex="0">
    <app-area></app-area>
  </div>
  <div class="tab-pane fade" id="nav-carrera" role="tabpanel" aria-labelledby="nav-carrera-tab" tabindex="0">
    <app-carrera></app-carrera>
  </div>
</div>