<div class="mt-0">
    <footer>
        <div class="fondoFooter" style="height:10px !important"></div>
        <div class="piePagina text-white">
            <div class="container">
                <div id="circulos" class="row">
                    <div class="col-12 col-md-9">
                        <div class="row">
                            <div class="col-1 text-center">
                                <a href="https://www.facebook.com/LaUASLP/" target="_blank" class="icon-circle">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </div>
                            <div class="col-1 text-center">
                                <a href="https://x.com/LaUASLP" target="_blank" class="icon-circle">
                                    <i class="bi bi-x"></i>
                                </a>
                            </div>
                            <div class="col-1 text-center">
                                <a href="https://www.youtube.com/LaUASLP" target="_blank" class="icon-circle">
                                    <i class="bi bi-youtube"></i>
                                </a>
                            </div>
                            <div class="col-1 text-center">
                                <a href="https://www.instagram.com/lauaslp" target="_blank" class="icon-circle">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row" id="identidad">
                            <span><b>UASLP</b></span><br />
                            <span>Departamento de Atención Psicológica Facultad de Ingeniería</span><br />
                            <span>Dr. Manuel Nava No. 8, Zona Universitaria Poniente, C.P. 78290</span><br />
                            <span>San Luis Potosí, San Luis Potosí</span><br />
                            <span>444 826 2330</span><br />
                            <span>©2024 Todos los derechos reservados</span><br />
                        </div>
                    </div>
                    <div class="col-12 col-md-3 m-3 m-md-0">
                        <div class="h-75 d-flex flex-column bd-highlight justify-content-start align-items-start">
                            <div class="bd-highlight" data-bs-toggle="modal" data-bs-target="#modalId"><a class="linkPrivacidad">Aviso de
                                    privacidad</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>




<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade modal-xl" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title px-4" id="modalTitleId">
                    Aviso de Privacidad Integral
                </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-5">
                <p style="text-align: justify;">
                    La Universidad Autónoma de San Luis Potosí, con domicilio en Álvaro Obregón número 64, Zona Centro, C.P.
                    78000, San Luis Potosí, S.L.P., es a través de la Facultad de Ingeniería, la responsable del uso y
                    protección de sus datos personales y al respecto le informa lo siguiente:
                </p>

                <h3>Finalidades del Tratamiento y fundamento legal</h3>

                <p style="text-align: justify;">
                    En este aviso se refiere a los datos personales recabados de los usuarios de la Plataforma del
                    Departamento de Atención Psicológica de la Facultad de Ingeniería. Los datos recabados son necesarios
                    para las siguientes finalidades:
                </p>

                <ol>
                    <li>
                        <p style="text-align: justify;">
                            Administración básica de datos de los alumnos, que incluye datos que faciliten su identificación,
                            datos escolares y de desempeño en las actividades académicas.
                        </p>
                    </li>
                    <li>
                        <p style="text-align: justify;">
                            Documentación y reportes de información estadística no identificable para entidades internas y
                            externas.
                        </p>
                    </li>
                </ol>
                
                <h3>Identificación de Datos Personales y Datos Personales Sensibles</h3>

                <p style="text-align: justify;">
                    Se pueden requerir datos personales de manera obligatoria (de identificación legal) y algunos
                    voluntariamente, así como implícitamente y/o automático, tales como:
                </p>
                <ul>
                    <li>Nombre</li>
                    <li>Clave Única y otras claves internas de registro del alumno de la UASLP</li>
                    <li>Edad</li>
                    <li>Género</li>
                    <li>Teléfonos</li>
                    <li>Correos electrónicos</li>
                    <li>Programa de Adscripción</li>
                    <li>CURP</li>
                    <li>Datos de antecedentes académico</li>
                </ul>

                <h3>Datos personales sensibles</h3>

                <p style="text-align: justify;">
                    Se puede solicitar datos personales sensibles para fines estadísticas y de cuidado especial, tales como:
                </p>
                <ul>
                    <li>
                        <p style="text-align: justify;">
                            Antecedentes médicos relevantes o habilidades diferentes.
                        </p>
                    </li>
                </ul>

                <h3>Transferencia de sus datos personales.</h3>

                <p style="text-align: justify;">
                    Se informa que no se hace transferencia de datos personales a terceros, salvo en las siguientes
                    circunstancias:
                </p>
                <ol>
                    <li>
                        <p style="text-align: justify;">
                            Por mandato de la autoridad competente.
                        </p>
                    </li>
                    <li>
                        <p style="text-align: justify;">
                            Publicación de actividades de educación, investigación y desarrollo tecnológico que realiza la
                            Facultad y la Universidad como institución pública, que incluye difusión a través de páginas web, redes
                            sociales, folletos, informes, y publicaciones en medios impresos y electrónicos, entre otros, siempre
                            cuidando que la publicación no causa daño al tema y a los participantes, y no contiene datos personales
                            sensibles.
                        </p>
                    </li>
                </ol>

                <p style="text-align: justify;">
                    Podrán realizarse remisiones internas para el cumplimiento de la normativa universitaria y a terceros en
                    forma estadística, disociando la identidad del titular, a efecto de que no puedan ser identificables.
                </p>

                <h3>Mecanismos y Medios para que el Titular pueda manifestar su negativa.</h3>

                <p style="text-align: justify;">
                    En cumplimiento a lo previsto por la fracción IV del artículo 38 de la Ley de Protección de Datos
                    Personales del Estado de San Luis Potosí, el titular podrá manifestar su negativa ante la propia
                    Facultad de Ingeniería.
                </p>

                <h3>Mecanismos, Medios y Procedimientos disponibles para el ejercicio de los derechos ARCO</h3>

                <p style="text-align: justify;">
                    En los términos permitidos por la normatividad aplicable, es su derecho conocer qué datos personales
                    tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es
                    su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea
                    inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando
                    considere que la misma no está siendo utilizada conforme a las disposiciones previstas en la
                    normatividad aplicable (Cancelación); y como oponerse al uso de sus datos personales para fines
                    específicos (Oposición). Estos derechos se conocen como derechos ARCO. Asimismo, usted tiene el derecho
                    de revocar en cualquier momento el consentimiento que en su caso nos haya otorgado para el tratamiento
                    de sus datos personales, salvo que no sea procedente en términos de la normatividad aplicable, lo cual
                    haríamos de su conocimiento en nuestra respuesta a su solicitud de revocación.
                    <br><br>
                    Para conocer el procedimiento, requisitos y plazos para el ejercicio de los derechos ARCO, así como del
                    derecho de revocación, le agradeceremos se ponga en contacto con la Unidad de Transparencia de la
                    Universidad Autónoma de San Luis Potosí ubicada en nuestro Álvaro Obregón número 64, Zona Centro, C.P.
                    78000, o enviando un correo electrónico a la dirección <a href="mailto:enlace@uaslp.mx">enlace&#64;uaslp.mx</a>
                    <br><br>
                    Si desea ejercer alguno o algunos de estos derechos, deberá presentar la solicitud respectiva a la
                    Unidad de Transparencia, quien dará trámite a la misma y atenderá cualquier comentario, duda o queja que
                    pudiera tener respecto al tratamiento de su información personal. Nuestro Oficial de Datos Personales
                    velará en todo momento por la protección de su información personal en cumplimiento con la normatividad
                    aplicable. Asimismo, le informamos que la Comisión Estatal de Garantía y Acceso a la Información Pública
                    del Estado de San Luis Potosí (CEGAIP), es la autoridad encargada de vigilar por la debida observancia
                    de las disposiciones legales en materia de protección de datos personales.
                </p>


                <h3>Cambios al aviso de privacidad</h3>

                <p style="text-align: justify;">
                    El responsable podrá modificar y/o actualizar el presente aviso de privacidad, informándole sobre
                    cualquier modificación o actualización a través de este medio.
                </p>


                <h3>Consentimiento</h3>

                <p style="text-align: justify;">
                    Le informamos que al no oponerse de manera expresa al presente aviso, se entiende que otorga su
                    consentimiento tácito para el tratamiento de los mismos en los términos del artículo 22 de la Ley de
                    Protección de Datos Personales para el Estado de San Luis Potosí.
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    const myModal = new bootstrap.Modal(
        document.getElementById("modalId"),
        options,
    );
</script>