nav div button {
    border-radius: 10px 10px 0 0;
    padding: 10px 15px 10px 15px;
    margin-top: 5px;
    color: #004A98 !important;
    font-weight: bolder;
    font-size: 1.2em;
    margin-right: 10px;
    background-color: #f4f4f4;
}

nav {
    background-color: #D9D9D9;
}

.nav-tabs .nav-link.active {
    background-color: white !important;
}