<div class="container my-5">
    <div class="row row-cols-1 row-cols-lg-2">

        <div class="col">
            <h2>CONTACTOS:</h2>
            <h4>Dra. Dora Emma Reynaga Navarro</h4>
            <h5>Jefa del departamento de Atenci&oacute;n Psicol&oacute;gica</h5>
            <p><a href="mailto:emma.reynaga@uaslp.mx">emma.reynaga&#64;uaslp.mx</a></p>
            <br>
        </div>
        <div class="col">
            <h2>HORARIO</h2>
            <p>
                El departamento de Atenci&oacute;n Psicol&oacute;gica brinda un horario de atención de 10:00 hrs a 17:00 hrs. 
            </p>
        </div>

    </div>
</div>