<nav>
    <div class="nav nav-tabs container  flex-wrap" id="nav-tab" role="tablist">
      <button class="nav-link active flex-fill" id="nav-gestion-tab" data-bs-toggle="tab" data-bs-target="#nav-gestion" type="button"
        role="tab" aria-controls="nav-home" aria-selected="true">GESTIONAR AGENDA</button>
      
    </div>
</nav>
  
  
<div class="tab-content container" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-gestion" role="tabpanel" aria-labelledby="nav-gestion-tab" tabindex="0">
      <div class="container my-5" style="margin-bottom: 100px!important;">
          <div class="container">
              <div class="row justify-content-center">
                <ul class="my-4">
                  <li>Haz clic en una fecha para visualizar horarios y citas guardados.</li>
                </ul>
              </div>
          </div>
          <app-calendario></app-calendario>
      </div>
    </div>
</div>