<div class="container fade-in">
    <div class="container">
        <table class="my-4">
            <tr>
                <td class="bg-info">Clave &uacute;nica:&nbsp;</td>
                <td id="claveAlumno">{{alumno?.claveUnica}}</td>
            </tr>
            <tr>
                <td class="bg-info">Nombre:&nbsp;</td>
                <td id="nombreAlumno">{{alumno?.nombres}} {{alumno?.apellidoPaterno}} {{alumno?.apellidoMaterno}}</td>
            </tr>
            <tr>
                <td class="bg-info">Fecha:&nbsp;</td>
                <td id="fechaReporteCita">{{cita?.fecha}} {{cita?.hora}}</td>
            </tr>
        </table>
    </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>